fastapi
uvicorn
pypdf
qdrant-client
sentence-transformers
langchain-text-splitters
FlagEmbedding
qdrant-client
fastapi[standard]
rank-bm25
python-dotenv
litellm
instructor
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp
tenacity
langfuse==4.7.1
openai
httpx
deepeval